Repository Bluespace-community/Bluespace-Station, pull requests merged in 2023-04, with the labels that each got.

#12 Another GitHub change
  .GitHub/PULL_REQUEST_TEMPLATE.md
  README.md
  other/CentComm_fed
  other/LICENSE
Labels: Review: Request Changes, File: TXT

#20 GitHub
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-approve.yml
  .github/workflows/labeler-changes.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/update-wiki.yml
Labels: No C#

#24 Create new map
  Server content/Resources/Maps/BluespaceBox.yml
  Server content/Resources/Maps/Shuttles/emergency_bluespace.yml
  Server content/Resources/Prototypes/Corvax/Maps/Pools/corvax.yml
  Server content/Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Server content/Resources/Prototypes/Corvax/Maps/bluespaceBox.yml
Labels: No C#, task, Status: In queue

#26 Edit workflows
  .github/labeler.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build-docfx.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/dotnet.yml
  .github/workflows/label.yml
  .github/workflows/no-submodule-update.yml
  .github/workflows/publish.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Status: In queue, File: github

#27 Edit labeler
  .github/labeler.yml
  .github/workflows/dotnet.yml
  .github/workflows/labeler_approve.yml
  .github/workflows/labeler_changes.yml
  .github/workflows/labeler_pr.yml
Labels: Status: In queue, File: github

#25 Add new stamps
  Server content/Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Server content/Resources/Locale/ru-RU/paper/stamp-component.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/stamps.ftl
  Server content/Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Server content/Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
  Server content/Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Server content/Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-admin.png
  Server content/Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-out_of_shape.png
  Server content/Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-out_of_shape.png
Labels: Status: In queue

#28 [Add] Rainbow apple
  Server content/Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Server content/Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Server content/Resources/Locale/ru-RU/seeds/seeds.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Server content/Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Server content/Resources/Prototypes/Flavors/flavors.yml
  Server content/Resources/Prototypes/Hydroponics/seeds.yml
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/dead.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/harvest.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/meta.json
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/produce.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/seed.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-1.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-2.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-3.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-4.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-5.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-6.png
Labels: File: Picture, File: Textures

#32 Revert "[Add] Rainbow apple"
  Server content/Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Server content/Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Server content/Resources/Locale/ru-RU/seeds/seeds.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/produce.ftl
  Server content/Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Server content/Resources/Prototypes/Flavors/flavors.yml
  Server content/Resources/Prototypes/Hydroponics/seeds.yml
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/dead.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/harvest.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/meta.json
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/produce.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/seed.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-1.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-2.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-3.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-4.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-5.png
  Server content/Resources/Textures/Objects/Specific/Hydroponics/rainbowApple.rsi/stage-6.png
Labels: File: Picture, File: Textures

#34 Update labeler
  .github/labeler.yml
Labels: Status: Needs Review, File: github

#33 [Add] Builder
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Server content/Resources/Maps/BluespaceBox.yml
  Server content/Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Server content/Resources/Prototypes/Corvax/Maps/bluespaceBox.yml
  Server content/Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Server content/Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Server content/Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Server content/Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Server content/Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Server content/Resources/Prototypes/Roles/Jobs/Engineering/builder.yml
  Server content/Resources/Prototypes/Roles/Jobs/departments.yml
  Server content/Resources/Prototypes/Roles/play_time_trackers.yml
  Server content/Resources/Textures/Clothing/Back/Backpacks/builder.rsi/equipped-BACKPACK.png
  Server content/Resources/Textures/Clothing/Back/Backpacks/builder.rsi/icon.png
  Server content/Resources/Textures/Clothing/Back/Backpacks/builder.rsi/inhand-left.png
  Server content/Resources/Textures/Clothing/Back/Backpacks/builder.rsi/inhand-right.png
  Server content/Resources/Textures/Clothing/Back/Backpacks/builder.rsi/meta.json
  Server content/Resources/Textures/Clothing/Uniforms/Jumpsuit/builder.rsi/equipped-INNERCLOTHING.png
  Server content/Resources/Textures/Clothing/Uniforms/Jumpsuit/builder.rsi/icon.png
  Server content/Resources/Textures/Clothing/Uniforms/Jumpsuit/builder.rsi/inhand-left.png
  Server content/Resources/Textures/Clothing/Uniforms/Jumpsuit/builder.rsi/inhand-right.png
  Server content/Resources/Textures/Clothing/Uniforms/Jumpsuit/builder.rsi/meta.json
  Server content/Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Server content/Resources/Textures/Objects/Devices/pda.rsi/pda-builder.png
  Server content/Resources/Textures/Objects/Misc/id_cards.rsi/idbuilder.png
  Server content/Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: File: Textures, File: Role, File: Localization

#36 Upgrade builder
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/lockers/engineer.ftl
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/closets/lockers/lockers.ftl
  Server content/Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Server content/Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Server content/Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Server content/Resources/Prototypes/Roles/Jobs/Engineering/builder.yml
  Server content/Resources/Textures/Interface/Misc/job_icons.rsi/Builder.png
  Server content/Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Server content/Resources/Textures/Structures/Storage/closet.rsi/bui.png
  Server content/Resources/Textures/Structures/Storage/closet.rsi/bui_door.png
  Server content/Resources/Textures/Structures/Storage/closet.rsi/bui_open.png
  Server content/Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: Status: Needs Review, task, File: Textures, File: Role, File: Localization

#39 [Map] Fix bug and name BluespaceBox
  Server content/Resources/Prototypes/Corvax/Maps/bluespaceBox.yml
Labels: Status: Needs Review

#42 [Fix] Bugfix 30.04
  Server content/Resources/Locale/ru-RU/job/job-description.ftl
  Server content/Resources/Locale/ru-RU/job/job-names.ftl
  Server content/Resources/Maps/BluespaceBox.yml
  Server content/Resources/Prototypes/Roles/Jobs/Engineering/builder.yml
Labels: Status: Needs Review, File: Role, File: Localization
