Repository Bluespace-community/Bluespace-Station, pull requests merged in 2023-06, with the labels that each got.

#88 Add dopoi16-txt to CODEOWNERS
  .github/CODEOWNERS
Labels: File: github

#89 Telecom airlock
  Server content/Resources/Locale/ru-RU/Bluespace-content/AI_and_telecommunications.ftl
  Server content/Resources/Prototypes/Bluespace-content/AI_and_telecommunication.yml
Labels: Telecommunications, task, File: Localization, File: PROJECT EXCLUSIVE

#95 [Big update] Telecommunication revolution
  Resources/Prototypes/Bluespace-content/tele/AI_and_telecommunication.yml
  Resources/Prototypes/Bluespace-content/tele/instructions.txt
  Resources/Prototypes/Bluespace-content/tele/teleengineer.yml
Labels: Telecommunications, File: Text, task

#96 Passport fix 28/06
  .github/CODEOWNERS
  .github/labeler.yml
  Resources/Locale/ru-RU/Bluespace-content/passports.ftl
  Resources/Prototypes/Bluespace-content/passports.yml
Labels: File: github, File: Localization, File: passport
