Repository Bluespace-community/Bluespace-Station, pull requests merged in 2023-09, with the labels that each got.

#102 [Add] Bluespace hypospray
  Resources/Locale/ru-RU/Personal-content/hypospray.ftl
  Resources/Prototypes/Personal-content/hypospray.yml
  Resources/Textures/Personal-content/Objects/Medical/hypospray.rsi/equipped-BELT.png
  Resources/Textures/Personal-content/Objects/Medical/hypospray.rsi/hypo.png
  Resources/Textures/Personal-content/Objects/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/Personal-content/Objects/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/Personal-content/Objects/Medical/hypospray.rsi/meta.json
Labels: File: Textures, File: Localization

#107 Combat knife is crowbar!
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/knife.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: File: Localization, File: Entity

#109 Update README.md
  CHANGES.md
  README.md
Labels: task

#111 make hristov multi handed
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: File: Entity

#110 Admin gun
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/admin_kammerer.yml
Labels: File: Localization, File: Entity

#114 Руководства Синдиката
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Objects/Misc/authorbooks.yml
  Resources/Textures/Objects/Misc/authorbooks.rsi/traitors_guide.png
Labels: File: Textures, File: Localization, File: Entity

#119 [Add] New stamps
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: File: Localization, File: Entity

#118 [Add] New radio channels
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Prototypes/Entities/Clothing/Ears/bluespace.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: File: Localization, File: Entity

#121 New logo
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/Textures/Logo/logo-ru.png
Labels: File: Textures

#125 Server config & "ЭКСПЕРИМЕНТ" badge
  Resources/ConfigPresets/bluespace/server_config.toml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: File: Role
