Repository Bluespace-community/Bluespace-Station, pull requests merged in 2023-05, with the labels that each got.

#44 Add me to CODEOWNER
  .github/CODEOWNERS
Labels: File: github

#45 Revert "Add me to CODEOWNER"
  .github/CODEOWNERS
Labels: Status: Needs Review, File: github

#46 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Status: Needs Review, File: github

#47 Update github
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review, File: github

#48 [Add] Alpha code
  .github/config.yml
  .github/rules_for_merging.txt
  Server content/Resources/Audio/Misc/alpha.ogg
  Server content/Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Server content/Resources/Prototypes/AlertLevels/alert_levels.yml
  Server content/Resources/Prototypes/Roles/Jobs/Engineering/builder.yml
Labels: File: Audio, Status: Needs Review, File: github, File: Role, File: Localization

#49 Delete no-needed labels
  .github/labeler.yml
  .github/workflows/labeler_approve.yml
  .github/workflows/labeler_changes.yml
  .github/workflows/labeler_pr.yml
Labels: File: github, Status: Needs Review

#50 Add rules for merging
  .github/rules_for_merging.txt
Labels: File: github

#52 [Add] annihilator
  Server content/Resources/Locale/ru-RU/Bluespace-content/content.ftl
  Server content/Resources/Locale/ru-RU/Bluespace-content/mark
  Server content/Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Server content/Resources/Prototypes/Bluespace-content/content.yml
  Server content/Resources/Prototypes/Bluespace-content/mark
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/base.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/equipped-BACKPACK.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/icon.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/inhand-left.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/inhand-right.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/mag-0.png
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/meta.json
  Server content/Resources/Textures/Bluespace-content/annihilator.rsi/suppressor.png
  Server content/Resources/Textures/Bluespace-content/mark
Labels: File: Textures, File: Localization

#54 fix
  .github/labeler.yml
Labels: File: github

#61 Update CODEOWNERS
  .github/CODEOWNERS
Labels: File: github

#62 Update backpacks
  .github/labeler.yml
  Server content/Resources/Prototypes/Bluespace-content/content.yml
Labels: File: github, Priority: 3-As soon as possible

#60 Upstream fix
  Server content/Resources/Maps/BluespaceBox.yml
  Server content/Resources/Maps/Shuttles/emergency_bluespace.yml
  Server content/Resources/Prototypes/Bluespace-content/BluespaceBox.yml
  Server content/Resources/Prototypes/Bluespace-content/content.yml
  Server content/Resources/Prototypes/Maps/Pools/default.yml
  Server content/Resources/Prototypes/Roles/Jobs/departments.yml
  Server content/Resources/Textures/Interface/Misc/job_icons.rsi/Blueshield.png
  Server content/Resources/Textures/Interface/Misc/job_icons.rsi/Builder.png
  Server content/Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Server content/Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Server content/Resources/Textures/Objects/Devices/pda.rsi/pda-blueshield.png
  Server content/Resources/Textures/Objects/Devices/pda.rsi/pda-builder.png
  Server content/Resources/Textures/Objects/Misc/id_cards.rsi/idblueshield.png
  Server content/Resources/Textures/Objects/Misc/id_cards.rsi/idbuilder.png
  Server content/Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: File: Textures, File: Role, Priority: 6-VERY HIGH, File: PROJECT EXCLUSIVE

#68 Тактический нож
  Server content/Resources/Locale/ru-RU/Bluespace-content/content.ftl
  Server content/Resources/Prototypes/Bluespace-content/content.yml
Labels: File: Localization, File: PROJECT EXCLUSIVE

#67 Клеточный очиститель
  Server content/Resources/Locale/ru-RU/Bluespace-content/content.ftl
  Server content/Resources/Locale/ru-RU/reagents/meta/medicine.ftl
  Server content/Resources/Locale/ru-RU/reagents/meta/physical-desc.ftl
  Server content/Resources/Prototypes/Bluespace-content/content.yml
  Server content/Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: File: Localization, File: PROJECT EXCLUSIVE

#70 [Tweak] github changes
  .github/CODEOWNERS
  .github/labeler.yml
  CHANGES.md
  LICENSE.txt
  SECURITY.md
Labels: File: Text, File: github

#75 [Add] New alert codes!
  CHANGES.md
  Server content/Resources/Audio/Bluespace-content/mark
  Server content/Resources/Audio/Bluespace-content/revolution.ogg
  Server content/Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Server content/Resources/Prototypes/AlertLevels/alert_levels.yml
  Server content/Resources/Prototypes/Bluespace-content/how_to_upstream.txt
Labels: File: Text, File: Audio, File: Localization, File: PROJECT EXCLUSIVE

#78 [Add] Exclusive passports
  CHANGES.md
  Server content/Resources/Locale/ru-RU/Bluespace-content/content.ftl
  Server content/Resources/Locale/ru-RU/Bluespace-content/passports.ftl
  Server content/Resources/Prototypes/Bluespace-content/content.yml
  Server content/Resources/Prototypes/Bluespace-content/passports.yml
Labels: File: Localization, File: PROJECT EXCLUSIVE

#80 AI
  Server content/Resources/Locale/ru-RU/Bluespace-content/content.ftl
  Server content/Resources/Prototypes/Bluespace-content/content.yml
  Server content/Resources/Prototypes/Bluespace-content/how_to_upstream.txt
  Server content/Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: File: Text, File: Localization, File: Entity, File: PROJECT EXCLUSIVE
